/* make fixed height and width container and a flexbox container */
.container {
    height: 600px;
    width: 600px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

/* make all rows flexbox containers AND flexbox items of outer container to stretch */
.row {
    display: flex;
    flex: 1 0 auto;
}

/* flexitem blocks in rows of flexbox containers -> stretch equally in row width + row height */
.block {
    flex: 1 0 auto;
}